@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background: black;
}

.banner .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(https://wallpaperaccess.com/full/3331322.jpg)center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.top-banner{
  margin-bottom: 10px;
  text-align: center;
  background: white;
}
h1{
  text-align: left;
}

h2 {
  text-align:left;
  margin-bottom: 10px;
  text-align: center;
  background: white;
}

h2:hover{
  background-color: blue;
  transition: ease all .4s;
}

nav{
  display: flex;
	flex-direction: column;
	align-items: center;
}

.button {
  font-size: 25px;
  text-shadow: -1px -1px white;
  max-width: 240px;
  border: 2px solid white;
  color: white;
  border-radius: 28px;
  padding: 20px 20px 18px 20px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  display: block;
  cursor: pointer;
  background-color: blue;
}

.button:hover{
  background-color: red;
  transition: ease all .4s;
}

p{
  font-size: 20px;
  color: white;
}


footer p{
  text-align: center;
  font-size: 18px;
  color: white;
}

.video{
  display: flex;
	flex-direction: column;
	align-items: center;
}
